.categoryBlock,
.articleBlock,
.commentBlock,
.loginBlock,
.registerBlock,
.profileBlock {
  background: white;
  border: 1px solid #e1e1e1;
  margin: 15px auto;
  box-shadow: 7px 7px 0 0 #e1e1e1;
}

.commentForm {
  height: 100%;
}
