.categoryBlock,
.articleBlock,
.commentBlock,
.loginBlock,
.registerBlock,
.profileBlock {
  background: white;
  border: 1px solid #e1e1e1;
  margin: 15px auto;
  box-shadow: 7px 7px 0 0 #e1e1e1;
  height: auto;
}
.toto {
  .profileBlock {
    height: 100%;
  }
  .imgProfile {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 25px;
    img {
      width: 250px;
      border-radius: 100%;
    }
  }
}
.commentForm {
  height: 100%;
}
