body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  flex-grow: 1;
  padding: 25px;
  background: #ececec;
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
}

hr {
  margin: 25px auto;
  width: 250px;
}

a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
